.container-custom{
    width:  100%;
    height: 100vh;
    background-image: url("src/assets/imgs/bg-welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title,
.subtitle,
.textInp{

    color: aliceblue;
}
.title{
    font-size: 72px;
}
.btn-custom{
    border-radius: 50px;
}
